/* HEADER */
.logo {
    flex: 0;
}

.menu {
    background-color: #1F4373;
    flex: 1;
}

.social {
    flex: 0;
}

.imatge {
    background-color: #a1c3ef;
    padding: 25px;
    margin: 10px;
}

/* CONTINGUT */
.titol {
    background-color: #D96941;
    padding: 10px;
}

.contingut {
    display: flex;
}

.columna {
    display: flex;
    flex-direction: column;
    background: #D98C4A;
    margin: 10px;
    padding: 15px;
}

.columna-dreta {
    display: flex;
    flex-direction: column;
}

.text-final {
    margin: 10px;
}
