@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');;
}

html, body {
    font-family: 'Roboto', sans-serif;
    color: #01110A;
    
    max-width: 1200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
header {
    background-color: #2b2d42;
    color: #edf6f9;
    text-align: center;
    margin-bottom: 1em;
}

nav {
    flex: 1;
    background-color: #ef233c;
    margin: 10px;
    padding: 1em;
}

.head {
    display: flex;
    padding: 1em;
}

.head > div {
    background-color: #ef233c;
    margin: 10px;
}

.logo {
    padding: 0.5rem;
}

.social {
    padding: 0.5rem;
}

.head-img {
    background-color: #8d99ae;
    padding: 1em;
}


/* CONTINGUT */
main, .right-col {
    display: table-cell;
    background-color: #ef233c;
}

main {
    width: 75%;
    background-color: #8d99ae;
}

aside {
    text-align: center;
    padding: 1rem;
}

.aside-col {
    background-color: #edf2f4;
    margin: 1rem 0;
    padding: 1rem;
}

h2 {
    background-color: #2b2d42;
    color: #edf6f9;
    font-weight: 100;
    font-style: italic;
    padding: 0.5rem;
    text-align: end;
}

.container {
    display: flex;
}

.col {
    background-color: #edf2f4;
    padding: 1rem;
    margin: 1rem;
    flex-basis: calc(100% / 2);
}

.text-bottom {
    background: #edf2f4;
    margin: 1rem;
    padding: 2rem;
}

/* PEU PAGINA */
footer {
    background-color: #2b2d42;
    color: #edf2f4;
    text-align: center;
    height: 4rem;
    line-height: 3rem;
}
