@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');;
}

/* CONTAINER */
.container {
    font-family: 'Roboto', sans-serif;
    color: #01110A;

    max-width: 1200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}


/* HEADER */
header {
    background-image:url("/nivell-2/images/header.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 -16rem;
    padding-bottom: 10rem;
}

/* MENU NAV */
nav {
    width: 100%;
    padding: 2rem;
    overflow: auto;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li a {
    color: #646464;
    float: left;
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1em;
}

nav a:hover {
    color:#e68686;
}

/*MIDES ICONES */
.head {
    display: flex;
}

.logo > img {
    width: 5rem;
    padding: 1rem;
}

.social {
    padding: 2rem;
}

.social a:hover {
    color:#e68686;
}

/*.slogan {
    background-color: rebeccapurple;
    display: flex;
    justify-content:flex-end;
    height: 10rem;
    text-align: center;
}*/

/* CONTINGUT */
main, aside {
    display: table-cell;
    background-color: #b4b4bb;
}

main {
    width: 75%;
    background-color: #b4b4bb;
}

aside {
    text-align: center;
    padding: 1rem;
}

.aside-content {
    margin: 1rem 0;
    padding: 1rem;
}

h2 {
    background-color: #e68686;
    color: #edf6f9;
    font-weight: 100;
    font-style: italic;
    padding: 0.5rem 0 0 0.2rem;
}

.content-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col {
    background-color: #e7e5e5 ;
    padding: 1rem;
    margin: 1rem;
}

.text-bottom {
    margin: 2rem;
}

/* PEU PAGINA */
footer {
    background-color: #e7e5e5 ;
    text-align: center;
    height: 4rem;
    line-height: 3rem;
}
