/* TABLET */
@media (max-width: 64em) {
    header {
        background-position: 0 -5rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    section, .right-col {
        border-top: 1rem solid white;
        display: table-row;
    }  
    
    aside {
        margin: 0;
    }
}

/* MOBIL */
@media (max-width: 48em) {
    header {
        background-position: 0 10rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-bottom: 1rem;
    }

    .head {
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        position: relative;
    }

    .logo {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .social {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        display: none;
    }

    .content-layout {
        display: flex;
        flex-wrap: wrap;
    }

    aside {
        margin: 0;
    }
}